<!doctype html>
<meta charset="utf-8">
<title>Edu-Admin</title>
<link rel="icon" type="image/png" href="../images/favicon.png" sizes="32x32">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<div class="topnav" id="myTopnav">
  <a href="index.php">Home</a>
	<a href="benutzer.php">Benutzer</a>
	<a href="krankenmeldungen.php">Krankenmeldungen</a>
	<a href="speicher.php">Speicher</a>
	<a href="email.php">E-Mail</a>
	<a href="system.php">System</a>
	<a href="logs.php">Logs</a>
	<a href="info.php">Info</a>
  <a href="kontakt.php">Kontakt</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<div style="padding-left:16px">
  <h2>Admin-Panel</h2>
  <p>Education-Manager</p>
</div>
<hr>
<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
<div style="padding-left:16px">

	
